<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detect Browser in JavaScript</title>
</head>
<body>
    <h1></h1>
    <h2></h2>
    <h3></h3>
    <button onclick="postdata()">Post</button>
    <script>


        var data = {
            userId:"",
            sessionId:"",
            pageUrl:"",
            deviceType:"",
            browser:"",
            geoLocation:"",
            eventType:"",
            adClicked:false,
            adId: "",
            durationSeconds:10
        }

        function postdata(){
            data.browser = fnBrowserDetect()
            data.deviceType =detectDeviceType()
            data.geoLocation = Intl.DateTimeFormat().resolvedOptions().timeZone
            data.pageUrl = window.location.href
            data.eventType = "page_view"
            data.userId =  sessionStorage.getItem('user_id');


            console.log(data)
            fetch('http://localhost:9096/produce/useractivity', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body:  JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        // Handle the response as needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
        }

        function fnBrowserDetect() {
            let userAgent = navigator.userAgent;
            let browserName;

            if (userAgent.match(/firefox|fxios/i)) {
                browserName = "Firefox";
            } else if (userAgent.match(/opr/i)) {
                browserName = "Opera";
            } else if (userAgent.match(/edg/i)) {
                browserName = "Edge";
            }else  if (userAgent.match(/chrome|chromium|crios/i)) {
                browserName = "Chrome";
            }
            else if (userAgent.match(/safari/i)) {
                browserName = "Safari";
            }  else {
                browserName = "Unknown Browser";
            }

            document.querySelector("h1").innerText = "You are using " + browserName + " browser";
            return browserName
        }

        function detectDeviceType() {
            let userAgent = navigator.userAgent;
            let deviceType;

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(userAgent)) {
                deviceType = "Mobile";
            } else if (/Mac|Windows|Linux/i.test(userAgent)) {
                deviceType = "Laptop/Desktop";
            } else if (/Tablet/i.test(userAgent)) {
                deviceType = "Tablet";
            } else {
                deviceType = "Unknown";
            }

            document.querySelector("h3").innerText = "Device Type: " + deviceType;
            return deviceType
        }
      
        // Call the function to detect the browser
        const tz = Intl.DateTimeFormat().resolvedOptions().timeZone
        document.querySelector("h2").innerText = "You are TZ " + tz;

        

    </script>
</body>
</html>
