<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
    body {
      background-color: #f8f9fa;
    }

    .login-container {
      max-width: 400px;
      margin: auto;
      margin-top: 100px;
    }

    .login-form {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="container login-container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="login-form">
          <h2 class="text-center">Login</h2>
          <form id="loginForm">
            <div class="form-group">
              <div id="warning" style="color: red;"></div>
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <a href="/auth/register">Register</a>
            <button type="button" class="btn btn-primary btn-block" onclick="submitLoginForm()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>
    function submitLoginForm() {
      const formData = new FormData(document.getElementById('loginForm'));
      fetch('/api/authentication/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(Object.fromEntries(formData)),
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        if(data.status == "verified")
        {
        window.location.href = "/home"
        }
        else{
          const element = document.getElementById("warning")
          element.textContent = data.status
        }
        // Handle the response as needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
</body>

</html>
